* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f7fafe; /* Fundo suave */
    color: #333;
    padding: 10px;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: #eaf4fc; /* Azul suave */
    border-bottom: 2px solid #d1e6f5;
}

header img {
    width: 100px; /* Tamanho da logo */
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    font-size: 1.8rem;
    color: #005f99;
    text-align: center;
}

main {
    padding: 15px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2rem;
    color: #005f99;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select,
.form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

textarea {
    resize: none;
}

.form-group button {
    background: #005f99; /* Azul */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-group button:hover {
    background: #004977; /* Azul escuro */
}

.alert {
    display: none;
    background-color: #28a745; /* Verde para sucesso */
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1.6rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select,
    .form-group button {
        font-size: 0.9rem;
    }
}